/* COMMON */
img {
  max-width: 100%;
}
html {
  font-size: 100%;
}

/* VARIABLES */
:root {
  /* Colors */
  --bg-green: #1abc9c;
  --bg-dark-blue: #2c3e50;
  --bg-light-blue: #3a546d;
  /* Dimension */
  --header-height: 60px;
}
/* WRAPPER */
.wrapper{
  width: 80%;
  margin: 0 auto;
  padding:  2em 0;
}

.wrapper-small{
  width: 70%;
  margin: 0 auto;
  padding:  2em 0;
}

/* LINK and LIST*/
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
}

/* TYPOGRAPHY */
h3{
  text-align: center;
}
header, #banner, #about, footer, .btn{
  color: white;
}
.hamburger{
  color: darkgrey;
}
/* BACKGROUND */
#banner, #about, .btn{
  background-color: var(--bg-green);
}

/* Header */
header{
  background-color: var(--bg-dark-blue);
  line-height: var(--header-height);
  height: var(--header-height);
}
.menu ul li {
  margin: 0 1em;
}
/* Banner */
#banner ul li{
  margin: 0 .3em;
}
#banner img{
  width: 40%;
}
/* Portfolio */
/* About*/
/* Contact */


/* Footer */
#footer-top{
  background-color: var(--bg-light-blue);
}
#footer-bottom{
  background-color: var(--bg-dark-blue);
  padding: 2em;
}
#footer-top span{
  color: var(--bg-green);
}
#footer-top ul li{
  margin: 0 .2em;
}