/* COMMON */
img {
  max-width: 100%;
}
html {
  font-size: 100%;
}

/* CUSTOM PROPERTIES  */
:root {
  /* Colors */
  --ms_bg-green: #1abc9c;
  --ms_bg-dark-blue: #2c3e50;
  --ms_bg-light-blue: #3a546d;
  /* Dimension */
  --header-height: 70px;
}
/* WRAPPER */
.wrapper-small {
  width: 60%;
  margin: 0 auto;
}

/* SECTION p m */
.ms_section {
  padding: 3em 0em;
}
.ms_section-heading {
  margin-bottom: 1em;
}

/* LINK and LIST*/
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
}

/* BACKGROUND */
#banner,
#about,
.btn {
  background-color: var(--ms_bg-green);
}

/* Header */
header {
  background-color: var(--ms_bg-dark-blue);
  line-height: var(--header-height);
  height: var(--header-height);
}
.ms_menu ul li {
  margin: 0 1em;
}
/* Banner */
#banner ul li {
  margin: 0 0.3em;
}
#banner img {
  width: 40%;
}

/* Footer */
#footer-top {
  background-color: var(--ms_bg-light-blue);
}
#footer-bottom {
  background-color: var(--ms_bg-dark-blue);
  padding: 2em;
}
#footer-top p a {
  color: var(--ms_bg-green);
}
#footer-top ul {
  padding-left: 0;
}
#footer-top ul li {
  margin: 0 0.4em;
}
#footer-top ul li i {
  width: 30px;
  height: 30px;
}

/* TYPOGRAPHY */
h3 {
  text-align: center;
  font-size: 2rem;
}
header,
#banner,
#about,
footer,
.btn {
  color: white;
}
.hamburger {
  color: darkgrey;
}
.ms_active,
h3,
nav:first-child {
  font-weight: 700;
}
#about p,
footer p {
  font-size: 1.2rem;
}

/* STAR */
.ms_star::before,
.ms_star::after {
  content: "";
  display: inline-block;
  height: 4px;
  width: 60px;
  background-color: black;
  vertical-align: middle;
  border-radius: 5px;
}
.ms_star-white::before,
.ms_star-white::after {
  background-color: rgb(255, 255, 255);
}
.fa-star {
  vertical-align: middle;
  font-size: 1.4rem;
}

/* Modify Boostrap */
.form-floating > label {
  padding: 1rem 0;
}
.form-control {
  border: none;
}
.form-control:focus {
  box-shadow: none;
}
form > .form-floating {
  border-bottom: 1.5px solid lightgrey;
}

@media screen and (min-width: 990px) {
  #banner img {
    width: 400px;
  }
  h3 {
    font-size: 4.4rem;
  }
  .ms_star::before,
  .ms_star::after {
    width: 160px;
  }
}
